In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Exploratory Data Analysis of Movie Lens

In [2]:
df_lens_movies = pd.read_csv('data/movies.csv')
df_lens_ratings = pd.read_csv('data/ratings.csv')
df_lens_tags = pd.read_csv('data/tags.csv')

df_52k = pd.read_csv("data/Animation_Movies.csv")
df_imbd_basics = pd.read_csv("data/title.basics.tsv",sep='\t')
df_imbd_ratings = pd.read_csv("data/title.ratings.tsv",sep='\t')

/tmp/ipykernel_46086/1159166190.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imbd_basics = pd.read_csv("data/title.basics.tsv",sep='\t')

In [3]:
print(df_lens_movies.columns)
print(df_lens_ratings.columns)
print(df_lens_tags.columns)

print(df_52k.columns)

print(df_imbd_basics.columns)
print(df_imbd_ratings.columns)

Index(['movieId', 'title', 'genres'], dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')
Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages'],
      dtype='object')
Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')
Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

### Movie Lens Filtering

In [4]:
lens_rating_avg = df_lens_ratings.groupby("movieId").mean()

df_lens_movies_copy = pd.merge(df_lens_movies, lens_rating_avg["rating"], on='movieId')
df_lens_movies_copy

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.893508
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.278179
2,3,Grumpier Old Men (1995),Comedy|Romance,3.171271
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.868395
4,5,Father of the Bride Part II (1995),Comedy,3.076957
...,...,...,...,...
83234,288967,State of Siege: Temple Attack (2021),Action|Drama,3.500000
83235,288971,Ouija Japan (2021),Action|Horror,0.500000
83236,288975,The Men Who Made the Movies: Howard Hawks (1973),Documentary,4.000000
83237,288977,Skinford: Death Sentence (2023),Crime|Thriller,3.000000
83238,288983,UNZIPPED: An Autopsy of American Inequality (2...,Documentary,3.000000

In [5]:
# Filter Animation Movies
df_lens_movies_copy = df_lens_movies_copy[df_lens_movies_copy['genres'].str.contains('Animation', na=False)]
df_lens_movies_copy

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.893508
12,13,Balto (1995),Adventure|Animation|Children,3.361721
47,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,2.978704
236,239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance,3.126086
241,244,Gumby: The Movie (1995),Animation|Children,2.387147
...,...,...,...,...
83152,288705,The Treasure Planet (1982),Adventure|Animation|Children|Sci-Fi,1.000000
83178,288769,Psycho-Pass: Providence (2023),Animation|Crime|Mystery|Thriller,2.000000
83190,288837,Bad Ol' Putty Tat (1949),Animation,3.000000
83191,288839,The Windblown Hare (1949),Animation|Children|Comedy,3.000000
83192,288841,Hare Do (1949),Animation|Children|Comedy,2.500000

In [6]:
df_lens_movies_copy['genres'] = df_lens_movies_copy['genres'].str.replace('|', ',')
df_lens_movies_copy

/tmp/ipykernel_46086/3402607784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lens_movies_copy['genres'] = df_lens_movies_copy['genres'].str.replace('|', ',')

,movieId,title,genres,rating
0,1,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy",3.893508
12,13,Balto (1995),"Adventure,Animation,Children",3.361721
47,48,Pocahontas (1995),"Animation,Children,Drama,Musical,Romance",2.978704
236,239,"Goofy Movie, A (1995)","Animation,Children,Comedy,Romance",3.126086
241,244,Gumby: The Movie (1995),"Animation,Children",2.387147
...,...,...,...,...
83152,288705,The Treasure Planet (1982),"Adventure,Animation,Children,Sci-Fi",1.000000
83178,288769,Psycho-Pass: Providence (2023),"Animation,Crime,Mystery,Thriller",2.000000
83190,288837,Bad Ol' Putty Tat (1949),Animation,3.000000
83191,288839,The Windblown Hare (1949),"Animation,Children,Comedy",3.000000
83192,288841,Hare Do (1949),"Animation,Children,Comedy",2.500000

In [7]:
df_lens_title_split = df_lens_movies_copy['title'].str.split('(', expand= True)
df_lens_movies_copy['title'] = df_lens_title_split[0]
df_lens_movies_copy['year'] = df_lens_title_split[1]
df_lens_movies_copy['year'] = df_lens_movies_copy['year'].str.replace(")",'')

/tmp/ipykernel_46086/2375279109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lens_movies_copy['title'] = df_lens_title_split[0]
/tmp/ipykernel_46086/2375279109.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lens_movies_copy['year'] = df_lens_title_split[1]
/tmp/ipykernel_46086/2375279109.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lens_movies_copy['year'] = df_lens_movies_copy['year'].str.replace(")",'')

In [8]:
df_lens_movies_copy = df_lens_movies_copy.drop('movieId', axis = 1)

In [9]:
df_lens_movies_copy

,title,genres,rating,year
0,Toy Story,"Adventure,Animation,Children,Comedy,Fantasy",3.893508,1995
12,Balto,"Adventure,Animation,Children",3.361721,1995
47,Pocahontas,"Animation,Children,Drama,Musical,Romance",2.978704,1995
236,"Goofy Movie, A","Animation,Children,Comedy,Romance",3.126086,1995
241,Gumby: The Movie,"Animation,Children",2.387147,1995
...,...,...,...,...
83152,The Treasure Planet,"Adventure,Animation,Children,Sci-Fi",1.000000,1982
83178,Psycho-Pass: Providence,"Animation,Crime,Mystery,Thriller",2.000000,2023
83190,Bad Ol' Putty Tat,Animation,3.000000,1949
83191,The Windblown Hare,"Animation,Children,Comedy",3.000000,1949
83192,Hare Do,"Animation,Children,Comedy",2.500000,1949

### IMBD Filtering

In [10]:
# Only Animation Movies 

df_imbd_basics_copy = df_imbd_basics.loc[(df_imbd_basics["titleType"] == "movie") & (df_imbd_basics["genres"].str.contains("Animation", na=False))]
df_imbd_basics_copy = df_imbd_basics_copy.drop(["titleType", "isAdult", "endYear"], axis= 1)
df_imbd_basics_copy

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
7541,tt0007646,El apóstol,El apóstol,1917,70,"Animation,Comedy,Drama"
8714,tt0008840,El apache de Londres,El apache de Londres,1918,\N,Animation
9332,tt0009469,Outwitting the Hun,Outwitting the Hun,1918,\N,"Animation,Comedy"
9482,tt0009619,Sin dejar rastros,Sin dejar rastros,1918,\N,Animation
13922,tt0014140,How Troy Was Collared,How Troy Was Collared,1923,\N,"Animation,Comedy,History"
...,...,...,...,...,...,...
11520123,tt9899402,Antoons Hero,Antoons Hero,\N,\N,Animation
11520271,tt9899716,Star Trek Enterprise II: Der Anfang vom Ende,Star Trek Enterprise II: Der Anfang vom Ende,2016,58,"Animation,Sci-Fi"
11520408,tt9900060,Lupin the Third: Fujiko Mine's Lie,Lupin the IIIrd: Mine Fujiko no Uso,2019,58,"Adventure,Animation,Crime"
11524992,tt9909938,Xenosaga Episode 1: Der Wille Zur Macht,Xenosaga,2005,288,"Animation,Sci-Fi"
11526416,tt9912924,Local Sugar,Local Sugar,\N,\N,Animation

In [11]:
# IMBD Ratings Adding Ratings to Animation Movies based on tconst
df_imbd_basics_copy = pd.merge(df_imbd_basics_copy, df_imbd_ratings, on='tconst')
df_imbd_basics_copy = df_imbd_basics_copy.drop(["tconst", "originalTitle"], axis= 1)
df_imbd_basics_copy = df_imbd_basics_copy.rename(columns={"numVotes" : "votes" ,"averageRating": "IMBD_rating", "primaryTitle" : "title", "startYear" : "year", "runtimeMinutes" : "runtime"})
df_imbd_basics_copy

,title,year,runtime,genres,IMBD_rating,votes
0,El apache de Londres,1918,\N,Animation,5.6,14
1,Outwitting the Hun,1918,\N,"Animation,Comedy",6.5,21
2,Sin dejar rastros,1918,\N,Animation,6.3,27
3,The Adventures of Prince Achmed,1926,80,"Adventure,Animation,Drama",7.8,7235
4,The Story of the Fox,1937,63,"Adventure,Animation,Comedy",7.6,1644
...,...,...,...,...,...,...
5746,Upin & Ipin: Keris Siamang Tunggal,2019,100,"Adventure,Animation,Comedy",7.2,891
5747,Pilgrim's Progress,2019,108,"Adventure,Animation,Family",6.4,961
5748,Star Trek Enterprise II: Der Anfang vom Ende,2016,58,"Animation,Sci-Fi",7.3,33
5749,Lupin the Third: Fujiko Mine's Lie,2019,58,"Adventure,Animation,Crime",6.9,556
5750,Xenosaga Episode 1: Der Wille Zur Macht,2005,288,"Animation,Sci-Fi",7.5,13

In [12]:
df_imbd_basics_copy.loc[df_imbd_basics_copy["title"] == "Up"]

     title  year runtime                      genres  IMBD_rating    votes
1650    Up  2009      96  Adventure,Animation,Comedy          8.3  1172226

### 52K Filtering

In [13]:
print(df_52k.columns)
df_52k

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages'],
      dtype='object')

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,150540,Inside Out,7.922,19463,Released,2015-06-09,857611174,95,False,/j29ekbcLpBvxnGk6LjdTc2EI5SA.jpg,...,en,Inside Out,"Growing up can be a bumpy road, and it's no ex...",107.292,/2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg,Meet the little voices inside your head.,"Animation, Family, Adventure, Drama, Comedy","Pixar, Walt Disney Pictures",United States of America,English
1,14160,Up,7.949,18857,Released,2009-05-28,735099082,96,False,/hGGC9gKo7CFE3fW07RA587e5kol.jpg,...,en,Up,Carl Fredricksen spent his entire life dreamin...,90.968,/vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg,The greatest adventure is just getting back home.,"Animation, Comedy, Family, Adventure",Pixar,United States of America,English
2,12,Finding Nemo,7.824,18061,Released,2003-05-30,940335536,100,False,/h3uqFk7sZRJvLZDdLiFB9qwbL07.jpg,...,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",55.456,/ggQ6o8X5984OCh3kZi2UIJQJY5y.jpg,There are 3.7 trillion fish in the ocean. They...,"Animation, Family",Pixar,United States of America,English
3,354912,Coco,8.222,17742,Released,2017-10-27,800526015,105,False,/askg3SMvhqEl4OL52YuvdtY40Yb.jpg,...,en,Coco,Despite his family’s baffling generations-old ...,166.578,/gGEsBPAijhVUFoiNpgZXqRVWJt2.jpg,The celebration of a lifetime,"Family, Animation, Fantasy, Music, Comedy, Adv...","Pixar, Walt Disney Pictures",United States of America,"English, Spanish"
4,10681,WALL·E,8.078,17446,Released,2008-06-22,521311860,98,False,/fK5ssgvtI43z19FoWigdlqgpLRE.jpg,...,en,WALL·E,What if mankind had to leave Earth and somebod...,58.517,/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg,After 700 years of doing what he was built for...,"Animation, Family, Science Fiction","Pixar, Walt Disney Pictures",United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51940,656677,Белозубка,0.000,0,Released,2018-12-20,0,0,False,NaN,...,ru,Белозубка,NaN,0.600,/r9rYEqBVJIHDUZZPyCkstkiM8Z2.jpg,NaN,Animation,NaN,Russia,NaN
51941,657149,Shimajiro to Ururu no Heroland,0.000,0,Released,2019-03-15,0,60,False,/jQMHu7B7LOY3R2PNJA4bBahEewN.jpg,...,ja,映画しまじろう しまじろうとうるるのヒーローランド,Hero Land is a world where you can meet the he...,2.531,/yGthNH49g4ezKLrn6cUNKygcbtz.jpg,NaN,"Family, Animation, Fantasy","Benesse, Sony Music Direct, TOHO, The Answer S...",Japan,"Japanese, English, Mandarin"
51942,656945,Robo Force: The Revenge of Nazgar,0.000,0,Released,1984-12-08,0,22,False,NaN,...,en,Robo Force: The Revenge of Nazgar,"TV Short for Robo Force, included in Challenge...",1.952,/2l6C7P7zFE5WaLdpyzayYfWdIbW.jpg,NaN,"Animation, Action, Science Fiction",NaN,NaN,English
51943,656893,Beginning Responsibility: A Lunchroom Goes Ban...,0.000,0,Released,1978-01-01,0,12,False,NaN,...,en,Beginning Responsibility: A Lunchroom Goes Ban...,The food in Plumcrest School Cafeteria has gon...,0.600,NaN,NaN,"Animation, Documentary, Family",Coronet Films,NaN,English
51944,656966,Natural Selection,0.000,0,Released,2019-08-20,0,10,False,NaN,...,bs,Prirodni odabir,Woman-Doe is a living sculpture trapped in urb...,0.600,/sC6Zo37mqJ3Lf4xTXJTJy02mC67.jpg,NaN,Animation,"Studio Neum, Zagreb Film","Bosnia and Herzegovina, Croatia",Bosnian

In [14]:
df_52k_copy = df_52k.drop(["status", "vote_count" ,"adult", "backdrop_path", "imdb_id", "id" ,"original_language", 'original_title', "overview", "popularity", "poster_path", "tagline", "production_countries", "spoken_languages", "revenue", "budget", "homepage"], axis=1)
df_52k_copy = df_52k_copy.rename(columns={"release_date": "year", "vote_average": "52k_rating"})
df_52k_copy

,title,52k_rating,year,runtime,genres,production_companies
0,Inside Out,7.922,2015-06-09,95,"Animation, Family, Adventure, Drama, Comedy","Pixar, Walt Disney Pictures"
1,Up,7.949,2009-05-28,96,"Animation, Comedy, Family, Adventure",Pixar
2,Finding Nemo,7.824,2003-05-30,100,"Animation, Family",Pixar
3,Coco,8.222,2017-10-27,105,"Family, Animation, Fantasy, Music, Comedy, Adv...","Pixar, Walt Disney Pictures"
4,WALL·E,8.078,2008-06-22,98,"Animation, Family, Science Fiction","Pixar, Walt Disney Pictures"
...,...,...,...,...,...,...
51940,Белозубка,0.000,2018-12-20,0,Animation,NaN
51941,Shimajiro to Ururu no Heroland,0.000,2019-03-15,60,"Family, Animation, Fantasy","Benesse, Sony Music Direct, TOHO, The Answer S..."
51942,Robo Force: The Revenge of Nazgar,0.000,1984-12-08,22,"Animation, Action, Science Fiction",NaN
51943,Beginning Responsibility: A Lunchroom Goes Ban...,0.000,1978-01-01,12,"Animation, Documentary, Family",Coronet Films
51944,Natural Selection,0.000,2019-08-20,10,Animation,"Studio Neum, Zagreb Film"

In [15]:
df_52k_copy['year'] = df_52k_copy['year'].str.extract(r'(\d{4})')
df_52k_copy

,title,52k_rating,year,runtime,genres,production_companies
0,Inside Out,7.922,2015,95,"Animation, Family, Adventure, Drama, Comedy","Pixar, Walt Disney Pictures"
1,Up,7.949,2009,96,"Animation, Comedy, Family, Adventure",Pixar
2,Finding Nemo,7.824,2003,100,"Animation, Family",Pixar
3,Coco,8.222,2017,105,"Family, Animation, Fantasy, Music, Comedy, Adv...","Pixar, Walt Disney Pictures"
4,WALL·E,8.078,2008,98,"Animation, Family, Science Fiction","Pixar, Walt Disney Pictures"
...,...,...,...,...,...,...
51940,Белозубка,0.000,2018,0,Animation,NaN
51941,Shimajiro to Ururu no Heroland,0.000,2019,60,"Family, Animation, Fantasy","Benesse, Sony Music Direct, TOHO, The Answer S..."
51942,Robo Force: The Revenge of Nazgar,0.000,1984,22,"Animation, Action, Science Fiction",NaN
51943,Beginning Responsibility: A Lunchroom Goes Ban...,0.000,1978,12,"Animation, Documentary, Family",Coronet Films
51944,Natural Selection,0.000,2019,10,Animation,"Studio Neum, Zagreb Film"

In [16]:
df_52k.loc[df_52k["production_companies"] == "Pixar"]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
1,14160,Up,7.949,18857,Released,2009-05-28,735099082,96,False,/hGGC9gKo7CFE3fW07RA587e5kol.jpg,...,en,Up,Carl Fredricksen spent his entire life dreamin...,90.968,/vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg,The greatest adventure is just getting back home.,"Animation, Comedy, Family, Adventure",Pixar,United States of America,English
2,12,Finding Nemo,7.824,18061,Released,2003-05-30,940335536,100,False,/h3uqFk7sZRJvLZDdLiFB9qwbL07.jpg,...,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",55.456,/ggQ6o8X5984OCh3kZi2UIJQJY5y.jpg,There are 3.7 trillion fish in the ocean. They...,"Animation, Family",Pixar,United States of America,English
5,585,"Monsters, Inc.",7.835,17189,Released,2001-11-01,579707738,92,False,/vUTVUdfbsY4DePCYzxxDMXKp6v6.jpg,...,en,"Monsters, Inc.",Lovable Sulley and his wisecracking sidekick M...,86.936,/sgheSKxZkttIe8ONsf2sWXPgip3.jpg,We Scare Because We Care.,"Animation, Comedy, Family",Pixar,United States of America,English
6,862,Toy Story,7.971,17152,Released,1995-10-30,394400000,81,False,/3Rfvhy1Nl6sSGJwyjb0QiZzZYlB.jpg,...,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",78.404,/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg,Hang on for the comedy that goes to infinity a...,"Animation, Adventure, Family, Comedy",Pixar,United States of America,English
19,863,Toy Story 2,7.589,12904,Released,1999-10-30,497366869,92,False,/91qfG6VaxRsCh1SbIi1w2vxknsL.jpg,...,en,Toy Story 2,"Andy heads off to Cowboy Camp, leaving his toy...",73.516,/2MFIhZAW0CVlEQrFyqwa4U6zqJP.jpg,The toys are back!,"Animation, Comedy, Family",Pixar,United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10946,899613,Automaton,6.333,3,Released,2020-08-24,9859,4,False,/f5BDs6Nu4kERftTMEBuWzoREbVw.jpg,...,en,Automaton,A poetic interlude between a reality and an ab...,0.600,/eh0fWebZj4HgeU0HRABp1gvHYzz.jpg,Pixar Animation Studios is proud to present “A...,Animation,Pixar,United States of America,No Language
11578,877268,WALL·E's Treasures & Trinkets,5.667,3,Released,2008-11-18,0,5,False,NaN,...,en,WALL·E's Treasures & Trinkets,Short vignettes featured as a DVD Extra Short.,0.650,/pJfm3EggGLZToce08Obf7HQHXrP.jpg,NaN,Animation,Pixar,United States of America,No Language
29880,1078246,Untitled Domee Shi/Pixar Film,0.000,0,Planned,NaN,0,0,False,NaN,...,en,Untitled Domee Shi/Pixar Film,“All I can really say about it is it’ll be ver...,0.600,NaN,NaN,Animation,Pixar,United States of America,English
33252,1221396,Self,0.000,0,In Production,2024-02-02,0,0,False,NaN,...,en,Self,a wooden puppet who desperately wants to fit i...,1.400,NaN,NaN,Animation,Pixar,United States of America,No Language
33651,1223426,Cars 4,0.000,0,Planned,NaN,0,0,False,NaN,...,en,Cars 4,Plot details unknown.,0.000,NaN,NaN,"Animation, Adventure, Comedy, Family",Pixar,United States of America,English

### Merging

In [17]:
merge_test = pd.concat([df_imbd_basics_copy, df_52k_copy, df_lens_movies_copy])

In [18]:
merge_test

,title,year,runtime,genres,IMBD_rating,votes,52k_rating,production_companies,rating
0,El apache de Londres,1918,\N,Animation,5.6,14.0,NaN,NaN,NaN
1,Outwitting the Hun,1918,\N,"Animation,Comedy",6.5,21.0,NaN,NaN,NaN
2,Sin dejar rastros,1918,\N,Animation,6.3,27.0,NaN,NaN,NaN
3,The Adventures of Prince Achmed,1926,80,"Adventure,Animation,Drama",7.8,7235.0,NaN,NaN,NaN
4,The Story of the Fox,1937,63,"Adventure,Animation,Comedy",7.6,1644.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
83152,The Treasure Planet,1982,NaN,"Adventure,Animation,Children,Sci-Fi",NaN,NaN,NaN,NaN,1.0
83178,Psycho-Pass: Providence,2023,NaN,"Animation,Crime,Mystery,Thriller",NaN,NaN,NaN,NaN,2.0
83190,Bad Ol' Putty Tat,1949,NaN,Animation,NaN,NaN,NaN,NaN,3.0
83191,The Windblown Hare,1949,NaN,"Animation,Children,Comedy",NaN,NaN,NaN,NaN,3.0
83192,Hare Do,1949,NaN,"Animation,Children,Comedy",NaN,NaN,NaN,NaN,2.5

In [19]:

merge_test["title"] = merge_test["title"].str.replace("\"", "")
merge_test["title"] = merge_test["title"].str.replace("\'", "")

merge_test = merge_test.sort_values(ascending= True, by='title')

In [20]:
merge_test["runtime"] = merge_test["runtime"].fillna("-1").replace("\\N", "-1")

In [21]:
merge_test = merge_test.dropna(subset=["title"])
merge_test["votes"] = merge_test["votes"].fillna(0.0)

In [22]:
merge_test["rating"] = merge_test["rating"]*2
merge_test["rating"] = merge_test["rating"].fillna(0)
merge_test["IMBD_rating"] = merge_test["IMBD_rating"].fillna(0)
merge_test["52k_rating"] = merge_test["52k_rating"].fillna(0)

In [23]:
merge_test["average_rating"] = merge_test[["IMBD_rating", "52k_rating", "rating"]].mean(axis=1)
merge_test = merge_test.sort_values(ascending= False, by='average_rating')
merge_test.head(25)

,title,year,runtime,genres,IMBD_rating,votes,52k_rating,production_companies,rating,average_rating
16539,潜艇总动员8：地心游记,2021,0,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
12401,#1,2009,4,Animation,0.0,0.0,10.0,ENSAV,0.0,3.333333
19871,The Adventures of Knickerbock Teetertop,2015,13,"Animation, Family",0.0,0.0,10.0,NaN,0.0,3.333333
17105,Cricket & Antoinette,2023,85,"Adventure, Animation, Family, Romance",0.0,0.0,10.0,"Diedra, Zagreb Film, Zycon Media",0.0,3.333333
16802,Щенячий патруль: Суперпатруль 2,NaN,0,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
16948,Kung Fu Bunny,2019,97,"Comedy, Animation",0.0,0.0,10.0,Fantawild Animation,0.0,3.333333
21154,Sexorcist,1996,40,Animation,0.0,0.0,10.0,Forest Cente Studio,0.0,3.333333
20688,Dry Grass in a Blue Vase,2013,6,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
15879,Приключения барона Мюнхгаузена,1967,0,Animation,0.0,0.0,10.0,Soyuzmultfilm,0.0,3.333333
15685,Пропал Петя-петушок,1985,9,Animation,0.0,0.0,10.0,Soyuzmultfilm,0.0,3.333333
16929,Урожай,2015,3,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
19968,The Shepherdess and the Chimney Sweep,1964,30,Animation,0.0,0.0,10.0,Soyuzmultfilm,0.0,3.333333
19006,Hal and Bubbles,2016,2,"Animation, Comedy",0.0,0.0,10.0,"Rovio Animation, Rovio Entertainment, Columbia...",0.0,3.333333
15916,Novice,1961,15,Animation,0.0,0.0,10.0,Soyuzmultfilm,0.0,3.333333
19451,Прогулка кота Леопольда,1982,9,Animation,0.0,0.0,10.0,Ekran,0.0,3.333333
17025,PUEDO VER TODO MENOS MIS OJOS,2019,2,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
15463,Go! Anpanman: Revive Banana Island!,2012,46,"Animation, Fantasy, Adventure, Family",0.0,0.0,10.0,NaN,0.0,3.333333
18094,The Files of Young Kindaichi: Shinigami Hospit...,1997,48,"Animation, Mystery",0.0,0.0,10.0,Toei Animation,0.0,3.333333
15860,The Firebird,1984,10,"Animation, Fantasy",0.0,0.0,10.0,Ekran,0.0,3.333333
15380,Precure kara Minna e no Ouen Movie,2011,1,Animation,0.0,0.0,10.0,Toei Animation,0.0,3.333333
14990,Pretty Cure All Stars F,2023,73,"Action, Animation, Comedy, Fantasy",0.0,0.0,10.0,"Toei Animation, ABC Animation, Bandai, ADK Emo...",0.0,3.333333
19763,Again,2016,6,Animation,0.0,0.0,10.0,NYC School of Visual Arts,0.0,3.333333
15066,Democracy Is ...,2009,2,"Animation, Documentary",0.0,0.0,10.0,NaN,0.0,3.333333
18010,Hello Jadoo Special : Under the Sea,2019,79,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
13122,Strawberry Shortcake: Sweet Sunshine Adventures,2016,66,Animation,0.0,0.0,10.0,NaN,0.0,3.333333

In [24]:
merge_test["runtime"] = pd.to_numeric(merge_test["runtime"], errors="coerce")
merge_test["IMBD_rating"] = pd.to_numeric(merge_test["IMBD_rating"], errors="coerce")
merge_test["52k_rating"] = pd.to_numeric(merge_test["52k_rating"], errors="coerce")
merge_test["rating"] = pd.to_numeric(merge_test["rating"], errors="coerce")
merge_test["average_rating"] = pd.to_numeric(merge_test["average_rating"], errors="coerce")

In [25]:
merge_test

,title,year,runtime,genres,IMBD_rating,votes,52k_rating,production_companies,rating,average_rating
16539,潜艇总动员8：地心游记,2021,0,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
12401,#1,2009,4,Animation,0.0,0.0,10.0,ENSAV,0.0,3.333333
19871,The Adventures of Knickerbock Teetertop,2015,13,"Animation, Family",0.0,0.0,10.0,NaN,0.0,3.333333
17105,Cricket & Antoinette,2023,85,"Adventure, Animation, Family, Romance",0.0,0.0,10.0,"Diedra, Zagreb Film, Zycon Media",0.0,3.333333
16802,Щенячий патруль: Суперпатруль 2,NaN,0,Animation,0.0,0.0,10.0,NaN,0.0,3.333333
...,...,...,...,...,...,...,...,...,...,...
35222,Rain,2021,4,Animation,0.0,0.0,0.0,NaN,0.0,0.000000
48789,Rain,2020,1,Animation,0.0,0.0,0.0,Usaaa,0.0,0.000000
51368,Rain,2018,10,Animation,0.0,0.0,0.0,Robot Playground Media,0.0,0.000000
42779,Rain Dance,1988,2,"Animation, Family",0.0,0.0,0.0,Children's Television Workshop (CTW),0.0,0.000000
22266,Felix Fills a Shortage,1923,5,Animation,0.0,0.0,0.0,NaN,0.0,0.000000

In [26]:
combined_entries = merge_test.groupby(["title", "year"], as_index=False).agg({
    "runtime": "max",  # Average runtime
    "genres": lambda x: ', '.join(sorted(set(genre.strip() for genre in ', '.join(x).split(',')))),  # Combine unique genres
    "IMBD_rating": "max",  # Average IMBD rating
    "52k_rating": "max",  # Average 52k rating
    "rating": "max",  # Average rating
    "votes": "sum",  # Total votes
    "production_companies": lambda x: ', '.join(
        sorted(set(company.strip() for company in x if pd.notna(company) and company.lower() != 'nan'))
    ), 
})

# Display the combined DataFrame
combined_entries

,title,year,runtime,genres,IMBD_rating,52k_rating,rating,votes,production_companies
0,,Blooper Bunny!,-1,"Animation, Children, Comedy",0.0,0.0,8.0,0.0,
1,,OO,-1,Animation,0.0,0.0,6.5,0.0,
2,!,2023,3,"Animation, Thriller",0.0,0.0,0.0,0.0,Rochester Institute of Technology
3,#,2020,4,"Animation, Documentary",0.0,5.0,0.0,0.0,
4,#001,2019,4,"Animation, Documentary",0.0,0.0,0.0,0.0,Birdie Num Num
...,...,...,...,...,...,...,...,...,...
57184,일출전야,2023,0,Animation,0.0,0.0,0.0,0.0,
57185,천원 방랑기,2012,0,Animation,0.0,0.0,0.0,0.0,한국독립애니메이션협회
57186,투명한 움직임,2009,0,Animation,0.0,0.0,0.0,0.0,한국독립애니메이션협회
57187,파파독 스페셜 - 별별 친구들,2019,0,Animation,0.0,0.0,0.0,0.0,
57188,항해의 끝,2023,0,Animation,0.0,0.0,0.0,0.0,

In [27]:
# Define function named compute_average

def compute_average_rating(row):
    rating_1 = row["IMBD_rating"]
    rating_2 = row["52k_rating"]
    rating_3 = row["rating"]

    count = 0
    total = 0
    if rating_1 > 0:
        total += rating_1
        count += 1
    if rating_2 > 0:
        total += rating_2
        count += 1
    if rating_3 > 0:
        total += rating_3
        count += 1

    if count == 0:
        return 0
    
    return total / count
# Apply the function to the DataFrame
combined_entries["average_rating"] = combined_entries.apply(compute_average_rating, axis=1)
combined_entries = combined_entries.sort_values(ascending= False, by='average_rating')
combined_entries.head(25)

,title,year,runtime,genres,IMBD_rating,52k_rating,rating,votes,production_companies,average_rating
9894,Cosmic Jacuzzi,2016,0,"Animation, Science Fiction",0.0,10.0,0.0,0.0,,10.0
9947,Courtmétrg,2012,1,"Animation, Comedy",0.0,10.0,0.0,0.0,La mécanique du plastique,10.0
56914,刺猬背西瓜,1979,10,Animation,0.0,10.0,0.0,0.0,Shanghai Animation Film Studio,10.0
106,"1,2,3 Pas Soleil",2019,6,"Animation, Drama, Fantasy",0.0,10.0,0.0,0.0,ESMA,10.0
57125,阿狸梦之岛·玩具墓场,2013,0,Animation,0.0,10.0,0.0,0.0,,10.0
9,#1,2009,4,Animation,0.0,10.0,0.0,0.0,ENSAV,10.0
3764,Aruã and The Shadow,2020,5,Animation,0.0,10.0,0.0,0.0,,10.0
34927,Princess Enchanted Tales - A Kingdom of Kindness,2005,130,Animation,0.0,10.0,0.0,0.0,,10.0
41563,Swipe,2020,14,"Animation, Drama, Horror",0.0,10.0,0.0,0.0,Puffball Studios,10.0
1754,"ANIME ROCK, PAPER, SCISSORS 2",2023,16,"Animation, Comedy",0.0,10.0,0.0,0.0,Corridor Digital,10.0
25683,Lollipop,2009,3,"Animation, Comedy",0.0,10.0,0.0,0.0,Moono Design,10.0
25677,Loki - La Parodia,2021,0,"Animation, Comedy, Mystery, Science Fiction, T...",0.0,10.0,0.0,0.0,FRD Comics Studios,10.0
15601,Fluffy McCloud,2010,3,Animation,0.0,10.0,0.0,0.0,IADT National Film School,10.0
25694,Lone Rider Animation,2011,8,"Action, Adventure, Animation, Comedy, Crime, D...",0.0,10.0,0.0,0.0,CULTZONE Filmes,10.0
41392,Supernerds,2021,0,"Animation, History",0.0,10.0,0.0,0.0,Infinite flow,10.0
25714,Long Live Belarus,2021,8,Animation,0.0,10.0,0.0,0.0,,10.0
41465,Suzy Snowflake,1951,-1,Animation,0.0,0.0,10.0,0.0,,10.0
31110,Nyctophobia,2018,9,Animation,0.0,10.0,0.0,0.0,,10.0
31098,Nuts & Robbers,2011,4,Animation,0.0,10.0,0.0,0.0,"ToonBox Entertainment, Red Rover International",10.0
1734,ALTCELL,2019,10,"Animation, Science Fiction",0.0,10.0,0.0,0.0,,10.0
41428,Surly Squirrel,2005,11,"Animation, Family",0.0,10.0,0.0,0.0,"DKP Studios, Pantaloons Productions",10.0
7101,Bug Therapy,2021,9,Animation,0.0,10.0,0.0,0.0,"Citronella Stories, LLC",10.0
15500,Flight Plan,2021,1,Animation,0.0,10.0,0.0,0.0,Kings Bishop Productions,10.0
41097,Substance,2019,5,"Animation, Drama",0.0,10.0,0.0,0.0,PopWilly Productions,10.0
15655,Flying Logos,1989,2,Animation,0.0,10.0,0.0,0.0,Homer & Associates,10.0

In [36]:
combined_entries["genres"] = combined_entries["genres"].str.split(", ")
combined_entries["production_companies"] = combined_entries["production_companies"].str.split(", ")
combined_entries

,title,year,runtime,genres,IMBD_rating,52k_rating,rating,votes,production_companies,average_rating
9894,Cosmic Jacuzzi,2016,0,NaN,0.0,10.0,0.0,0.0,[],10.0
9947,Courtmétrg,2012,1,NaN,0.0,10.0,0.0,0.0,[La mécanique du plastique],10.0
56914,刺猬背西瓜,1979,10,NaN,0.0,10.0,0.0,0.0,[Shanghai Animation Film Studio],10.0
106,"1,2,3 Pas Soleil",2019,6,NaN,0.0,10.0,0.0,0.0,[ESMA],10.0
57125,阿狸梦之岛·玩具墓场,2013,0,NaN,0.0,10.0,0.0,0.0,[],10.0
...,...,...,...,...,...,...,...,...,...,...
18758,Head to Head,2022,3,NaN,0.0,0.0,0.0,0.0,[Sörängens folkhögskola],0.0
18757,Head in the Clouds,2023,2,NaN,0.0,0.0,0.0,0.0,[],0.0
18755,Head Tray,2022,2,NaN,0.0,0.0,0.0,0.0,[],0.0
18781,Health for the Americas: The Human Body,1945,10,NaN,0.0,0.0,0.0,0.0,[],0.0
38111,See the World,1934,0,NaN,0.0,0.0,0.0,0.0,[],0.0

In [38]:
# Step 1: Calculate the mean rating across all movies
C = combined_entries["IMBD_rating"].mean()

# Step 2: Define the minimum number of votes required (e.g., 90th percentile)
m = combined_entries["votes"].quantile(0.95)

# Step 3: Filter movies that qualify (votes >= m)
qualified_movies = combined_entries[combined_entries["votes"] >= m]

# Step 4: Calculate the weighted rating
qualified_movies["weighted_rating"] = (
    (qualified_movies["votes"] / (qualified_movies["votes"] + m) * qualified_movies["IMBD_rating"]) +
    (m / (qualified_movies["votes"] + m) * C)
)

# Step 5: Sort movies by weighted rating
qualified_movies = qualified_movies.sort_values(by="weighted_rating", ascending=False)

# Seperate genres from string to array

qualified_movies.head(10)

/tmp/ipykernel_46086/1091853312.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_movies["weighted_rating"] = (

,title,year,runtime,genres,IMBD_rating,52k_rating,rating,votes,production_companies,average_rating,weighted_rating
4006,Attack on Titan the Movie: The Last Attack,2024,145,NaN,9.3,0.000,0.0,13818.0,[],9.3000,9.206352
35763,Ramayana: The Legend of Prince Rama,1993,135,NaN,9.1,0.000,0.0,16302.0,[],9.1000,9.022326
11191,Demon Slayer: Kimetsu no Yaiba - Mt. Natagumo Arc,2020,138,NaN,8.7,0.000,0.0,17219.0,[],8.7000,8.629904
40215,Spirited Away,2001,125,NaN,8.6,8.539,0.0,899836.0,[Studio Ghibli],8.5695,8.598664
39656,Solo Leveling: ReAwakening,2024,121,NaN,8.7,0.000,0.0,6466.0,[],8.7000,8.515994
46377,The Lion King,1994,89,NaN,8.5,8.256,0.0,1193537.0,"[Walt Disney Pictures, Walt Disney Feature Ani...",8.3780,8.499005
40143,Spider-Man: Across the Spider-Verse,2023,140,NaN,8.5,8.442,0.0,442148.0,"[Columbia Pictures, Sony Pictures Animation, L...",8.4710,8.497315
17767,Grave of the Fireflies,1988,89,NaN,8.5,8.455,0.0,342500.0,[Studio Ghibli],8.4775,8.496535
11195,Demon Slayer: Kimetsu no Yaiba - Tsuzumi Mansi...,2021,87,NaN,8.5,0.000,0.0,30589.0,[],8.5000,8.461374
53233,WALL·E,2008,98,NaN,8.4,8.078,0.0,1250861.0,"[Pixar, Walt Disney Pictures]",8.2390,8.399063

In [39]:
combined_entries.to_json('genreMatchAll.json', orient='records', indent=2)
qualified_movies.to_json('genreMatchTopRatings.json', orient='records', indent=2)

### Filter by Genre

In [32]:
genre_list = ['Action']
genre_filtered = combined_entries["genres"].apply(lambda x : set(x.split(", ")))
genre_filtered = genre_filtered.apply(lambda x : set(genre_list).issubset(x))

genre_filtered = combined_entries.loc[genre_filtered]
genre_filtered

,title,year,runtime,genres,IMBD_rating,52k_rating,rating,votes,production_companies,average_rating,average_rating_W
48001,The RVM,2025,3,"Action, Animation, Documentary",9.9,0.0,0.0,7.0,NaN,3.300000,8.91
53180,Vordum: Price of Death,2018,87,"Action, Animation, Fantasy",9.0,7.0,0.0,78.0,"[nan, nan, Susko Volkov]",5.333333,8.80
30987,Nothing Unusual,2024,92,"Action, Adventure, Animation",9.7,0.0,0.0,12.0,NaN,3.233333,8.73
36756,Rocky and Bullwinkle,2024,100,"Action, Adventure, Animation",9.7,0.0,0.0,11.0,NaN,3.233333,8.73
2660,Allahyar and the 100 Flowers of God,2023,0,"Action, Adventure, Animation, Fantasy, Sci-Fi,...",8.7,8.0,0.0,78.0,"[nan, nan]",5.566667,8.63
...,...,...,...,...,...,...,...,...,...,...,...
11197,Demon Slayer: Kimetsu no Yaiba -To the Hashira...,2024,112,"Action, Animation, Fantasy",0.0,0.0,0.0,0.0,"ufotable, Aniplex, Shueisha",0.000000,0.00
11155,Deliver Police: Nishitokyo-shi Deliver Keisats...,2021,10,"Action, Animation",0.0,0.0,0.0,0.0,IMAGICA Lab.,0.000000,0.00
45598,The Hitman,2023,2,"Action, Animation",0.0,0.0,0.0,0.0,NaN,0.000000,0.00
11880,Discordia y sosiego,2020,0,"Action, Adventure, Animation, Drama, Thriller,...",0.0,0.0,0.0,0.0,"The ParguelsHD Productions, Mayaka911 Productions",0.000000,0.00
44787,The Five Magic Letters,2010,86,"Action, Adventure, Animation",0.0,0.0,0.0,0.0,Digital Network Animation,0.000000,0.00

### Count Movies

In [33]:
count = len(genre_filtered)
print(count)

3711